<div class="container">
<h1> Create Form for <%= $course.department %> </h1>
<% $course.questions.each do |question| %>
    
    <div class="form-group">
    <p><%= question.question_text %></p>
    <input type="text" class="form-control" id="reasons"  name="reasons"> 
    <%= link_to "Delete Question", delete_question_path_url(question), method: :delete %>
    </div>
    
    <div>
<% end %>
<div>

<a href= "<%= new_question_path %>"> Add</a>


<%= link_to "Complete form", course_path %>




