<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="box">
        <% info = "" %>
        <% @course.cross_listing.each do |id| %>
            <% coursec = Course.find(id) %>
            <% info +=  " / " + coursec.department.split("-").first + " "+ coursec.course_number + " - " + coursec.section_number %>
        <% end %>
        <h1 class="title" style = "margin: 20px 40px 20px 15px">Create Form for <%= @course.department.split("-").first %> <%= @course.course_number%> - <%= @course.section_number%> <%= info%> </h1>
        <p style = "margin: 0px 40px 20px 15px; font-size: 14px;"> This form is what will be displayed to students when they request a permission number from your course. 
            Along with the default questions listed, you can add your own custom questions to the form. This form
            is only intended to assess preparedness and academic background.</p>
        <div class="container">
            <% @course.questions.each do |question| %>
                <div class="form-group required">
                    <p class="control-label"><%= question.question_text %></p>
                    <% if question.question_type == "Checkbox" %>
                        <% question.option.each do |option| %>
                            <div>
                                <input type="checkbox" name= "<%= option %>" id= "<%= option %>" value= "<%= option %>" id = "cb" disabled/> <%= option %>
                            </div>
                        <% end %>
                    <% elsif question.question_type == "Radio" %>
                        <% question.option.each do |option| %>
                            <div>
                                <input type="radio" name= "radio" id= "<%= option %>" value= "<%= option %>" id = "rb" disabled/> <%= option %>
                            </div>
                        <% end %>
                    <% elsif question.question_type == "Long Answer" %>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" name="reasons" disabled></textarea>
                    <% else %>
                        <input type= "text" class="form-control" id="reasons"  name="reasons" disabled>
                    <% end %>

                    <%if question.id > 5 and question.question_text != "Which course(s) have you taken:" %>
                        <%= link_to "Delete", delete_question_path(question), method: :delete , class:"btn btn-outline-danger btn-sm", style:"margin:10px 0px 10px"%>
                    <%end%>
                </div>
            <% end %>

            <%= link_to "Add Question", new_question_path(@course), class:"btn btn-outline-dark", style:"margin:10px 0px 10px" %>
            <%= link_to "Save Form", faculty_page_path, class:"btn btn-outline-dark ", style:"margin:10px 0px 10px;" %>
            <%= link_to "Publish Form", publish_page_path(@course), method: :get, class:"btn btn-dark", data: { confirm:"Are you sure you want to publish the form? You will not be able to make changes to form after you publish." }%>

        </div>
      </div>
    </div>
  </div>
</div>
<p class="spacer"></p>
