<div class="container">
<h1> Create Form for <%= $course.department + $course.course_number %> </h1>
<h2> Questions: </h2>
<% $course.questions.each do |question| %>
    
    <div class="form-group">
    <p><%= question.question_text %></p>
    <input type="text" class="form-control" id="reasons"  name="reasons"> 
    <%= link_to "Delete", delete_question_path_url(question), method: :delete , class:"btn btn-light btn-sm", style:"margin:10px 0px 10px"%>
    </div>
    
    <div>
<% end %>
<div>

<%= link_to "Add Question", new_question_path, class:"btn btn-dark", style:"margin:10px 0px 10px" %>


<%= link_to "Complete form", course_path, class:"btn btn-dark", style:"margin:10px 0px 10px" %>




