<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="box">
        <h1 class="title" style = "margin: 20px 40px 50px 40px">Create Form for <%= @course.department.split("-").first %> <%= @course.course_number %> <%= @course.section_number %> </h1>
        <div class="container">
            <% @course.questions.each do |question| %>
                <div class="form-group">
                    <p><%= question.question_text %></p>
                    <% if question.question_type == "Checkbox" %>
                        <% question.option.each do |option| %>
                            <div>
                                <input type="checkbox" name= "<%= option %>" id= "<%= option %>" value= "<%= option %>" id = "cb" /> <%= option %>
                            </div>
                        <% end %>
                    <% elsif question.question_type == "Radio" %>
                        <% question.option.each do |option| %>
                            <div>
                                <input type="radio" name= "radio" id= "<%= option %>" value= "<%= option %>" id = "rb" /> <%= option %>
                            </div>
                        <% end %>
                    <% elsif question.question_type == "Long Answer" %>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" name="reasons" style = "background: white" disabled></textarea>
                    <% else %>
                        <input type= "text" class="form-control" id="reasons"  name="reasons" style = "background: white" disabled>
                    <% end %>

                    <%if question.id > 5 and question.question_text != "Which course(s) have you taken:" %>
                        <%= link_to "Delete", delete_question_path(question), method: :delete , class:"btn btn-outline-danger btn-sm", style:"margin:10px 0px 10px"%>
                    <%end%>
                </div>
            <% end %>

            <%= link_to "Add Question", new_question_path(@course), class:"btn btn-outline-dark", style:"margin:10px 0px 10px" %>
            <%= link_to "Complete form", faculty_page_path, class:"btn btn-dark ", style:"margin:10px 0px 10px;" %>
        </div>
      </div>
    </div>
  </div>
</div>
<p class="spacer"></p>
