<div class="container">
<h1> Create Form for <%= $course.department %> <%= $course.course_number %> </h1>
<h2> Questions: </h2>

<div class="form-group">
    <label for="name"> Full name: </label>
    <input type="text" class="form-control" id="name" name="name">
</div>

<div class="form-group">
    <label for="email"> Email: </label>
    <input type="email" class="form-control" id="email" placeholder="Ex: mp3@duke.edu" name="email">
</div>

<div class="form-group">
    <label for="gradyear"> Graduation year: </label>
    <input type="text" class="form-control" id="gradyear" placeholder="Ex: Maple Adkisson" name="gradyear">
</div>

<% $course.questions.each do |question| %>
    
    <div class="form-group">
    <p><%= question.question_text %></p>
    <% if question.question_type == "Checkbox" %>
        <% question.option.each do |option| %>
            <div>
                <input type="checkbox" name= "<%= option %>" id= "<%= option %>" value= "<%= option %>" id = "cb"/> <%= option %>
            </div>
        <% end %>
    <% elsif question.question_type == "Radio" %>
        <% question.option.each do |option| %>
            <div>
                <input type="radio" name= "radio" id= "<%= option %>" value= "<%= option %>" id = "rb"/> <%= option %>
            </div>
        <% end %>
    <% else %>
        <input type= "text" class="form-control" id="reasons"  name="reasons"> 
    <% end %>


    <%= link_to "Delete", delete_question_path(question), method: :delete , class:"btn btn-light btn-sm", style:"margin:10px 0px 10px"%>
    </div>
    
    <div>
<% end %>
<div>

<%= link_to "Add Question", new_question_path, class:"btn btn-dark", style:"margin:10px 0px 10px" %>


<%= link_to "Complete form", course_path, class:"btn btn-dark", style:"margin:10px 0px 10px" %>




