<h1>Create A Question</h1>
<%= form_for @question do |f| %>
    <%= f.label :question_type, "Question type: " %>
    <%= f.select :question_type, options_for_select([["Select One", ""], "text", "checkbox", "radio"])%>

    <%= f.label :question_text, "Question: " %>
    <%= f.text_field :question_text %>

    <%= f.submit "Create" %>
    <!--... -->
  <% end %>
