<div class="col">
<div class="box">
  <h1 class="title"> Add Another Course Manager for <%= @course.department.split("-").first %> <%= @course.course_number%> - <%= @course.section_number%></h1>
  <p> An assisstant/TA/faculty member to manage course requests</p>
  <%= form_tag({action: :add_user2}, multipart: true) do %>
    <%= text_field_tag 'netid' %>
    <%= hidden_field_tag "course", @course.id %>
    <%= submit_tag 'Submit' %>
 <% end %>

</div>