<div class="container-fluid" style="margin-top: 20px">
  <div class="row">
    <div class="col">
      <% info = "" %>
      <h1 class="title"> Course Requests for <%= @course.department.split("-").first %> <%= @course.course_number%> - <%= @course.section_number%> <%= info%> </h1>
      <a href="<%= faculty_page_path %>"><button class="btn btn-dark" type="button" style= "margin: 20px 0px 5px;"> Back to Courses</button></a>
      <% @course.cross_listing.each do |id| %>
          <% coursec = Course.find(id) %>
          <% info +=  " / " + coursec.department.split("-").first + " "+ coursec.course_number + " - " + coursec.section_number %>
      <% end %>
        <% if flash[:alert3] %>
        <div class="alert1", style = "color: red"><%= flash[:alert3] %></div>
        <% end %>
        <div class="table-responsive">
        <form action = "/mailselected">
            <table id="myTable" cellspacing="0" width="100%" class="display table table-striped", style="background-color:white;">
              <select name="select_action" id="selected_action" class="btn btn-primary" onchange="SelectAction()" style="visibility: hidden;margin: 0 0 20px 0">
                <option value="">For Selected Requests</option>
                <option value="email">Email</option>
                <option value="accept">Accept</option>
                <option value="deny">Deny</option>
              </select>
              <br>
              <thead>
                <tr style="text-align: center; vertical-align: middle;">
                  <th> <input type="checkbox" name="selected1" class="selectall"/> </th>
                  <th class="no sort"> <br><%= image_tag "eye_open.png", id: "unhide",class:"eye"%></th>
                  <th>Time of Request</th>
                  <% @course.questions.each do |question| %>
                    <%if question.id <= 5 or question.question_text == "Which prerequisite(s) have you satisfied:" %>
                      <th> <%= question.question_text %><br><%= image_tag "eye.png", id: "hide",class:"eye"%></th>
                    <%else%>
                      <th> <%= question.question_text %></th>
                    <%end%>
                  <% end %>
                    <th> </th>
                  <th> Accept/Deny Request </th>
                </tr>
              </thead>
              <tbody>
                <% @course.course_requests.each do |request| %>
                  <tr style="text-align: center; vertical-align: middle;">
                    <td>
                    <input style="font-family: 'Roboto', sans-serif;font-size: 15px;" type="checkbox" name= "selected[]" class="checkboxlist" id="<%= request.id %>" value= "<%= request.id %>" id = "cb"/>
                    </td>
                    <td class="details-control"></td>
                    <td> <%= request.created_at.in_time_zone('Eastern Time (US & Canada)').strftime('%D %H:%M:%S')%> </td>
                    <% request.answers.each do |answer| %>
                      <% if answer.question.question_type == "Checkbox"%>
                        <td><%= answer.answer_text.gsub("~", ", ") %></td>
                      <% elsif answer.question.question_type == "Long Answer"%>
                        <td><div style="width:100%; max-height:200px; overflow:auto"><%= answer.answer_text %></div></td>
                      <% else %>
                        <td><%= answer.answer_text %></td>
                      <% end %>
                    <% end %>
                    <td>  <%= link_to "Send Custom Email", send_mailer_path(request) %> </td>
                    <td>
                      <% if request.status == "Under Review"%>
                        <%= link_to "Accept", accept_path(request), data: {confirm: "Are you sure you want to accept #{request.answers.first.answer_text}? An email will be sent alerting them of a request status change."}, class:"btn btn-success btn-sm accept"%>
                        <%= link_to "Deny", deny_path(request), data: {confirm: "Are you sure you want to deny #{request.answers.first.answer_text}? An email will be sent alerting them of a request status change."}, class:"btn btn-danger btn-sm accept"%>
                      <% elsif request.status == "Denied"%>
                        <p style="color:red;"> Denied </p>
                      <% else %>
                        <p style="color:green;"> Accepted </p>
                        <p style="color:green;"> Granted: <%= request.permission_number.number %> <br> for <%= request.course.department.split("-").first %> <%= request.course.course_number %> - <%= request.course.section_number %> <br> Expires on: <%=request.permission_number.expire_date%> </p>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
                <% @course.cross_listing.each do |id| %>
                  <% Course.find(id).course_requests.each do |request| %>
                    <tr style="text-align: center; vertical-align: middle;">
                    <td>
                    <input style="font-family: 'Roboto', sans-serif;font-size: 15px;" type="checkbox" name= "selected[]" class="checkboxlist" id="<%= request.id %>" value= "<%= request.id %>" id = "cb"/>
                    </td>
                    <td class="details-control"></td>                  
                    <td> <%= request.created_at.in_time_zone('Eastern Time (US & Canada)').strftime('%D %H:%M:%S')%> </td>
                    <% request.answers.each do |answer| %>
                      <% if answer.question.question_type == "Checkbox"%>
                        <td><%= answer.answer_text.gsub("~", ", ") %></td>
                      <% elsif answer.question.question_type == "Long Answer"%>
                        <td><div style="width:100%; max-height:200px; overflow:auto"><%= answer.answer_text %></div></td>
                      <% else %>
                        <td><%= answer.answer_text %></td>
                      <% end %>
                    <% end %>
                    <td>  <%= link_to "Send Custom Email", send_mailer_path(request) %> </td>
                    <td>
                      <% if request.status == "Under Review"%>
                        <%= link_to "Accept", accept_path(request), data: {confirm: "Are you sure you want to accept #{request.user.first_name}? An email will be sent alerting them of a request status change."}, class:"btn btn-success btn-sm accept"%>
                        <%= link_to "Deny", deny_path(request), data: {confirm: "Are you sure you want to deny #{request.user.first_name}? An email will be sent alerting them of a request status change."}, class:"btn btn-danger btn-sm accept"%>
                      <% elsif request.status == "Denied"%>
                        <p style="color:red;"> Denied </p>
                      <% else %>
                        <p style="color:green;"> Accepted </p>
                        <p style="color:green;"> Granted: <%= request.permission_number.number %> <br> for <%= request.course.department.split("-").first %> <%= request.course.course_number %> - <%= request.course.section_number %> <br> Expires on: <%=request.permission_number.expire_date%> </p>
                      <% end %>
                    </td>
                  </tr>
                  <% end %>
                <% end %>
              </tbody>
          </table>
          <input type="hidden" name="courseid" value="<%= @course.id %>">
          <br>
          <button hidden id="email" type="submit" class="btn btn-outline-secondary" style="float: right">Email Selected</button>
          <button hidden id = "accept" type="submit" class="btn btn-outline-success" formaction="/accept_selected"> Accept Selected</button>
          <button hidden id = "deny" type="submit" class="btn btn-outline-danger" formaction="/deny_selected"> Deny Selected</button>

          <script>
            function SelectAction() {
              var act = document.getElementById("selected_action").value;
              document.getElementById(act).click();
            }
          </script>
        </div>
    </div>
  </div>
</div>