<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/facreqview.css">
<a href="<%= faculty_page_path %>"><button class="btn btn-dark" type="button" style= "margin: 20px 5px"> Back to Courses</button></a>

<h1> Course Requests for <%= @course.department.split("-")[0] %> <%= @course.course_number %> </h1>

<div class="table-responsive">
    <table id="myTable" cellspacing="0" width="100%" class="display table table-striped", style="background-color:white;"> 
      <thead>
        <tr>
        <% @course.questions.each do |question| %>
        <th> <%= question.question_text %> </th>
        <% end %>
        </tr>
      </thead>
      <tbody>
        <% @course.course_requests.each do |request| %>
        <tr>
          <% request.answers.each do |answer| %>
          <% if answer.question.question_type == "Checkbox"%>
            <td><%= answer.answer_text.gsub("~", ", ") %></td>
          <% else %>
            <td><%= answer.answer_text %></td>
          <% end %>
          <% end %>
        </tr>
        <% end %>
      </tbody>
  </table>
</div>
