<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="box">
        <h1 class="title">My Courses - <%= @user.first_name %> INSTRUCTOR </h1>
        <%= no_course(@user)%>
        <div class="container">
          <% for course in @user.courses do %>
            <div class="row">
              <div class="col">
                <div class="request-box">
                  <img class="trash" src="/assets/trash.png">
                  <p> <%= course.department%> <%= course.course_number%> - <%= course.section_number%> </p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <a href="<%= new_course_path_url %>"><button class="btn btn-outline-primary" type="button">Create a Course</button></a>
        <a href="<%= course_path %>"><button class="btn btn-outline-primary" type="button">View All Course Details</button></a>
      </div>
    </div>
  </div>
</div>
