<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="box">
        <h1 class="title">Active Requests - <%= @user.first_name %> INSTRUCTOR </h1>
        <div class="container">
          <% for request in @user.course_requests do %>
            <div class="row">
              <div class="col">
                <div class="request-box">
                  <%= active_request(request) %>
                  <img class="trash" src="/assets/trash.png">
                  <p><%= request.course.department %> <%= request.course.course_number%></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <a href="<%= courses_path %>"><button class="btn btn-outline-primary" type="button">Create a Course</button></a>
      </div>
    </div>
  </div>
</div>
