<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="box">
      <div class="header">
        <h1 class="title">My Courses - <%= @user.first_name %> INSTRUCTOR </h1>
        <a href="<%= new_course_path %>"><button class="btn btn-dark" type="button">Create a Course</button></a>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#facModal" id="factut">
        View Tutorial </button>
        <div class="modal fade" id="facModal" tabindex="-1" role="dialog" aria-labelledby="facModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="facModalLabel">Tutorial</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= image_tag "factutorial.png", class: "factut"%>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
        <%= no_course(@user)%>
        <div class="container">
          <% i = 0 %>
          <% @courses.each do |course| %>
            <div class="row">
              <div class="col">
                <div class="request-box">
                  <%= course_status(course) %>

                  <a class="collapse-button" data-toggle="collapse" href="#multiCollapseExample<%= i %>" role="button" aria-expanded="false" aria-controls="multiCollapseExample<%= i %>">
                    <p class="course">
                      <% if course.published == false %>
                        <%="UNPUBLISHED:"%>
                      <%end%>
                    <% info = "" %>
                    <% seats = 0 %>
                    <% requests = 0 %>
                    <% course.cross_listing.each do |id| %>
                        <% coursec = Course.find(id) %>
                        <% info +=  " / " + coursec.department.split("-").first + " "+ coursec.course_number + " - " + coursec.section_number %>
                        <% seats += coursec.seats_taken %>
                        <% requests += coursec.course_requests.length %>
                    <% end %>
                      <%= course.department.split("-").first %> <%= course.course_number%> - <%= course.section_number%> <%= info%>
                      <span class="fa fa-chevron-right pull-right expand-icon"> + </span>
                      <span class="fa fa-chevron-down pull-right expand-icon"> - </span>
                    </p>
                  </a>
                  <div class="collapse multi-collapse" id="multiCollapseExample<%= i %>">
                    <div >
                      Permission Numbers Granted: <%= course.seats_taken + seats %> / <%= course.capacity %> <br>
                      Number of Requests: <%= course.course_requests.length + requests %> <br>
                      <!-- Permission Numbers: <%= course.permission_numbers %> <br> -->
                      <% if course.prereqs.first == nil %>
                        Prerequisites: N/A
                      <% else%>
                        Prerequisites: <% course.prereqs.each do |prereq| %>
                          <% if course.prereqs.last == prereq%>
                            <%= prereq.name %>
                          <% else %>
                            <%= prereq.name %>,
                          <%end%>
                        <% end %>
                      <% end %>
                      <br>
                      <% if course.published == false %>
                          <%= link_to "Edit Questions", question_path(course), method: :get, class:"btn btn-outline-primary" %>
                          <%= link_to "View Uploaded Numbers", numbers_path(course), method: :get, class:"btn btn-outline-primary" %>
                          <%= link_to "Delete Course", delete_course_path(course), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-outline-danger" %>
                      <% else %>
                          <%= link_to "View Requests", requests_page_path(course), method: :get, class:"btn btn-outline-primary" %>
                          <%= link_to "View Uploaded Numbers", numbers_path(course), method: :get, class:"btn btn-outline-primary" %>
                          <%= link_to "Delete Course", delete_course_path(course), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-outline-danger" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% i += 1 %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
<p class="spacer"></p>
