<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="box">
        <h1 class="title">My Courses - <%= @user.first_name %> INSTRUCTOR </h1>
        <%= no_course(@user)%>
        <div class="container">
          <% @courses.each do |course| %>
            <div class="row">
              <div class="col">
                <div class="request-box">
                  <a data-confirm="Are you sure?" data-method="Delete" href="<%= delete_course_path(course) %>"> <img class="trash" src="/assets/trash.png"> </a>
                  <p> <%= course.department%> <%= course.course_number%> - <%= course.section_number%> </p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <a href="<%= new_course_path %>"><button class="btn btn-outline-primary" type="button">Create a Course</button></a>
        <a href="<%= course_path %>"><button class="btn btn-outline-primary" type="button">View All Course Details</button></a>
      </div>
    </div>
  </div>
</div>
