<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="box">
        <h1 class="title">Active Requests - <%= @user.first_name %></h1>
        <%= no_request(@user)%>
        <div class="container">
          <% for request in @user.course_requests do %>
            <div class="row">
              <div class="col">
                <div class="request-box">
                  <%= active_request(request) %>
                  <img class="trash" src="/assets/trash.png">
                  <p class="course"><%= request.course.department %> <%= request.course.course_number%> <%= request.course.section_number %> </p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <a href="<%= search_path %>"><button class="btn btn-outline-primary" type="button">Request a permission number</button></a>
      </div>
    </div>
  </div>
</div>
