<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="box">
        <h1 class="title">Active Requests - <%= @user.first_name %></h1>
        <%= no_request(@user)%>
        <div class="container">
        <% i = 0 %>
          <% for request in $course_request do %>
            
            <div class="row">
              <div class="col">
                <div class="request-box">
                  <%= active_request(request) %>
                  <img class="trash" src="/assets/trash.png", delete_request_path(request), method: :delete>
                  
                  <a data-toggle="collapse" href="#multiCollapseExample<%= i %>" role="button" aria-expanded="false" aria-controls="multiCollapseExample<%= i %>">
                    <p class="course"><%= request.course.department %> <%= request.course.course_number%> <%= request.course.section_number %> </p>
                  </a>

                  <div class="collapse multi-collapse" id="multiCollapseExample<%= i %>">
                    <div >
                      Status: <%= request.status %>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <% i += 1 %>
          <% end %>
        </div>
        <a href="<%= search_path %>"><button class="btn btn-outline-primary" type="button">Request a permission number</button></a>
      </div>
    </div>
  </div>
</div>
