<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="box">
        <h1 class="title"> Request form for <%= @course_request.course.department.split("-").first + " " + @course_request.course.course_number + " " + @course_request.course.section_number%> </h1>
        <div class="container" style="padding-top: 20px">
          <div class="row">
            <div class="col">
              <% for answer in @course_request.answers %>
                  <p style = "font-weight: bold"><%= answer.question.question_text %><p>
                <% if answer.question.question_type == "Checkbox" %>
                      <% for option in answer.question.option do %>
                        <% if answer.answer_text.split("~").include? option %>
                            <input type="checkbox" checked disabled><%= option %> <br>
                        <% else%>
                            <input type="checkbox" disabled> <%= option %> <br>
                        <% end %>
                      <% end %>
                <% else %>
                  <% if answer.answer_text == "" %>
                    <input type="text"  class="form-control" style="background:white" disabled>
                  <% else %>
                    <div class="form-control" style="background:white; margin-bottom: 15px"><%= answer.answer_text %></div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p class="spacer"></p>
