<div class="container-fluid" style="margin-top: 20px">
  <div class="row">
    <div class="col">
      <% info = "" %>
      <% @course.cross_listing.each do |id| %>
          <% coursec = Course.find(id) %>
          <% info +=  " / " + coursec.department.split("-").first + " "+ coursec.course_number + " - " + coursec.section_number %>
      <% end %>
        <h1 class="title"> All Uploaded Permission Numbers for <%= @course.department.split("-").first %> <%= @course.course_number%> - <%= @course.section_number%> <%= info%> </h1>
        
        <a href="<%= faculty_page_path %>"><button class="btn btn-dark" type="button" style= "margin: 20px 0px 5px;"> Back to Courses</button></a>
        <a href="<%= add_more_permnum_path(@course) %>"><button class="btn btn-dark" type="button" style= "margin: 20px 10px 5px;"> Upload More Permission Numbers</button></a>
        <p class="spacer"></p>
        <div class="table-responsive">
            <table id="numTable" cellspacing="0" width="100%" class="display table table-striped", style="background-color:white;">
              <thead>
                <tr style="text-align: center; vertical-align: middle;">
                  <th> </th>
                  <th> Course </th>
                  <th> Number </th>
                  <th> Student Assigned </th>
                  <th> Closed Class </th>
                  <th> Req not met </th>
                  <th> Consent Req </th>
                  <th> Expiration Date </th>
                  <th> Assign this Number </th>
                </tr>
              </thead>
              <tbody>
                <% i = 1 %>
                <% @course.permission_numbers.each do |number| %>

                  <tr style="text-align: center; vertical-align: middle;">
                    <td> <%= i %></td>
                    <td>
                      <b><%= @course.department.split("-").first + " "+ @course.course_number + " - " + @course.section_number %></b>
                    </td>
                    <td>
                      <%=number.number%>
                    </td>
                      <% if number.course_request_id == nil && number.used == true %>
                        <td> Previously Assigned  </td>
                      <% elsif number.course_request_id == nil %>
                        <td class="light-green"> Unassigned </td>
                      <% else %>
                        <td class="blue"><%= number.course_request.user.first_name %> <%= number.course_request.user.last_name %> |  <%= number.course_request.user.net_id %>
                        </td>
                      <% end %>

                    <td>
                      <% if number.capacity == true %>
                        Y
                      <% else %>
                        N
                      <% end %>
                    </td>
                    <td>
                      <% if number.reqs == true %>
                        Y
                      <% else %>
                        N
                      <% end %>
                    </td>
                    <td>
                      <% if number.consent == true %>
                        Y
                      <% else %>
                        N
                      <% end %>
                    </td>

                    <td>
                      <%= number.expire_date %>
                    </td>
                    <% if number.used == false %>
                      <td>
                        <% if cookies[:moon] %>
                          <button type="button" class="btn btn-outline-light assignbutt" data-toggle="modal" data-target="#exampleModal<%= i %>">Assign</button>
                        <% else %>
                          <button type="button" class="btn btn-outline-dark assignbutt" data-toggle="modal" data-target="#exampleModal<%= i %>">Assign</button>
                        <% end %>

                        <div class="modal fade" id="exampleModal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel<%= i %>" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel<%= i %>">Assign a number without a request</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div> 
                              <div class="modal-body">
                                <div class="md-form mb-5">
                                <i class="fas fa-user prefix grey-text"></i>
                                <%= form_tag({action: :assign_num}) do %>
                                  <%= select_tag "user_id", options_for_select(@course.course_requests.collect{|request| [request.user.first_name + " " + request.user.last_name, request.user.id]}), prompt: "Select Student"%>
                                  <%= hidden_field_tag "course", @course.id %>
                                  <%= hidden_field_tag "permnum", number.id %>
                                  <%= submit_tag 'Submit' %>
                                <% end %>
                                </div> 
                              </div> 
                            </div> 
                          </div> 
                        </div> 
                      </td>
                    <% else %>
                      <td>
                      </td>
                    <% end %>
                  </tr>
                  <% i += 1 %>
                <% end %>


                <% @course.cross_listing.each do |id| %>
                  <% Course.find(id).permission_numbers.each do |number| %>
                  <tr style="text-align: center; vertical-align: middle;">
                    <td> <%= i %></td>
                    <td>
                      <b><%= Course.find(id).department.split("-").first + " "+ Course.find(id).course_number + " - " + Course.find(id).section_number %></b>
                    </td>
                    <td>
                      <%=number.number%>
                    </td>
                      <% if number.course_request_id == nil && number.used == true %>
                        <td> Previously Assigned  </td>
                      <% elsif number.course_request_id == nil %>
                        <td class="light-green"> Unassigned </td>
                      <% else %>
                        <td class="blue"><%= number.course_request.user.first_name %> <%= number.course_request.user.last_name %> |  <%= number.course_request.user.net_id %>
                        </td>
                      <% end %>

                    <td>
                      <% if number.capacity == true %>
                        Y
                      <% else %>
                        N
                      <% end %>
                    </td>
                    <td>
                      <% if number.reqs == true %>
                        Y
                      <% else %>
                        N
                      <% end %>
                    </td>
                    <td>
                      <% if number.consent == true %>
                        Y
                      <% else %>
                        N
                      <% end %>
                    </td>

                    <td>
                      <%= number.expire_date %>
                    </td>
                    <% if number.used == false %>
                      <td>
                        <% if cookies[:moon] %>
                          <button type="button" class="btn btn-outline-light assignbutt" data-toggle="modal" data-target="#exampleModal<%= i %>">Assign</button>
                        <% else %>
                          <button type="button" class="btn btn-outline-dark assignbutt" data-toggle="modal" data-target="#exampleModal<%= i %>">Assign</button>
                        <% end %>

                        <div class="modal fade" id="exampleModal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel<%= i %>" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel<%= i %>">Assign a number without a request</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div> 
                              <div class="modal-body">
                                <div class="md-form mb-5">
                                <i class="fas fa-user prefix grey-text"></i>
                                <%= form_tag({action: :assign_num}) do %>
                                  <%= select_tag "user_id", options_for_select(number.course.course_requests.collect{|request| [request.user.first_name + " " + request.user.last_name, request.user.id]}), prompt: "Select Student"%>
                                  <%= hidden_field_tag "course", number.course.id %>
                                  <%= hidden_field_tag "permnum", number.id %>
                                  <%= submit_tag 'Submit' %>
                                <% end %>
                                </div> 
                              </div> 
                            </div> 
                          </div> 
                      </td>
                    <% else %>
                      <td>
                      </td>
                    <% end %>
                  </tr>
                  <% i += 1 %>
                  <% end %>
                <% end %>
              </tbody>
          </table>
    </div> 
  </div> 
</div> 
<p class="spacer"></p>
