<div class="container">
<div class="table_box">
  <h1 class="title">More Permission Numbers Required for <%= @course.department.split("-").first %> <%= @course.course_number%> - <%= @course.section_number%></h1>
  <p>Oh no! You have run out of permission numbers for this course. Please upload another excel file from DukeHub.</p>
  <%= form_tag({action: :all_add_selected}, multipart: true) do %>
    <%= file_field_tag 'file' %>
    <%= hidden_field_tag "selected", @selected %>
    
    <%= submit_tag 'Upload' %>
 <% end %>

</div>
</div>