<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="box">
        <h1 class="title">Account Info </h1>
        <div class="row">
            <div class="col">
                <div class="request-box">
                    <p> Name: <%= @user.first_name %> <%= @user.last_name %> </p>
                    <p> Graduation Year: <%= @user.grad_year %> </p>
                    <p> Net ID: <%= @user.net_id %> </p>
                    <p> Unique ID: <%= @user.unique_id %> </p>
                    <p> Email: <%= @user.email %> </p>
                    <p> Affiliation: <%= @user.user_type %> </p>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p class="spacer"></p>
