<div class="container account">
  <div class="row">
    <div class="col">
      <h1 class="title">Account Info </h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="account-table">
        <tr>
          <td><p class="account-title">Name:</p></td>
          <td><p><%= @user.first_name %> <%= @user.last_name %></p></td>
        </tr>
        <tr>
          <td><p class="account-title">Graduation Term:</p></td>
          <td><p><%= @user.grad_year %></p></td>
        </tr>
        <tr>
          <td><p class="account-title">NetID:</p></td>
          <td><p><%= @user.net_id %> </p></td>
        </tr>
        <tr>
          <td><p class="account-title">Unique ID:</p></td>
          <td><p><%= @user.unique_id %> </p></td>
        </tr>
        <tr>
          <td><p class="account-title">Email:</p></td>
          <td><p><%= @user.email %> </p></td>
        </tr>
        <tr>
          <td><p class="account-title">Affiliation:</p></td>
          <td><p><%= @user.user_type %> </p></td>
        </tr>
      </table>
    </div>
    <div class="col">
      <% if cookies[:moon] %>
        <%= button_to 'Light Mode', sun_path, method: :get%>
      <% else %>
        <%= button_to 'Dark Mode', moon_path, method: :get%>
      <% end %>
    </div>
  </div>
</div>