<!DOCTYPE html>
<html lang="en">
<head>
  <title>Create a New Course</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
  <body>
    <div class="col">
      <div class="box">
        <h1 class="title">Your Courses</h1>
        <%= link_to "Back", faculty_url, class:"btn btn-dark", style:"margin:10px 0px 10px" %>
        <%= link_to "Create New Course", new_course_path, class:"btn btn-dark", style:"margin:10px 0px 10px" %>
        <div class="table-responsive">
          <table class="table table-striped", style="background-color:white;">
            <thead>
              <th scope="col">Department</th>
              <th scope="col">Course Number</th>
              <th scope="col">Section Number</th>
              <th scope="col">Capacity</th>
              <th scope="col">Prereqs</th>
              <th scope="col"></th>
            </thead>
            <tbody>
              <% @course.each do |course| %>
                
                <tr>
                  <td><%= course.department %></td>
                  <td><%= course.course_number %></td>
                  <td><%= course.section_number %></td>
                  <td><%= course.capacity %></td>
                  <td>
                    <% course.prereqs.each do |prereq| %>
                      <% if course.prereqs.last == prereq%>
                        <%= prereq.name %>
                      <% else %>
                        <%= prereq.name %>, 
                      <%end%> 
                    <%end%>
                  </td>
                  <td>
                    <%= link_to 'Delete', delete_course_path(course), method: :delete, data: { confirm: 'Are you sure?' } %>
                  </td>
                </tr>

              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>