<div class="col">
<div class="box">
  <h1 class="title">Create A Course</h1>
  <%= form_for @course do |f| %>

    <div class="form-group row" style="padding: 10px 20px 0px">
      <%= f.label :term, "Semester: ", for: "formGroupExampleInput" %>
      <%= f.select :term, options_for_select(@terms),{:prompt => "Select One"}, class:"form-control", id:"exampleFormControlSelect1 term", :required => true%>
    </div>

    <div class="form-group row" style="padding: 10px 20px 0px">
      <%= f.label :department, "Department: ", for: "formGroupExampleInput" %>
      <%= f.select :department, options_for_select(@departments), {:prompt => "Select One"}, class:"form-control", id:"exampleFormControlSelect1 department", :required => true%>
    </div>

    <div class="form-group row" style="padding: 10px 20px 0px">
      <%= f.label :course_number, "Course Number: ", for: "formGroupExampleInput" %>
      <%= f.text_field :course_number, placeholder: "Ex: 101L", class:"form-control", id:"formGroupExampleInput course_number", :required => true%>
    </div>

    <div class="form-group row" style="padding: 10px 20px 0px">
      <%= f.label :section_number, "Section Number: ", for: "formGroupExampleInput" %>
      <%= f.text_field :section_number, placeholder: "Ex: 001-LAB", class:"form-control", id:"formGroupExampleInput section_number", :required => true%>
    </div>

    <div class="form-group row" style="padding: 10px 20px 0px">
      <%= f.label :capacity, "Course Capacity: ", for: "formGroupExampleInput" %>
      <%= f.text_field :capacity, placeholder: "Ex: 30", class:"form-control", id:"formGroupExampleInput capacity", :required => true%>
    </div>

    <div class="form-group row", style="padding: 10px 20px 0px">
      <%= f.fields_for :prereqs do |prereqs_form| %>
          <%= prereqs_form.label :name, "Course Prerequisites: ", for: "formGroupExampleInput " %>
          <div class="form-inline">
            <div class="addNew">
              <input name="prereq_attributes[0]name" type="text" placeholder="Ex: COMPSCI 101" class="form-control prereqfield" id="formGroupExampleInput prereq", style="margin: 0px 0px 10px 5px"/>
            </div>
             <button type="button" class="btn btn-secondary add", id="add-prereq" style="margin: 0px 0px 10px 5px"> + </button>
          </div>
      <% end %>
    </div>

    <div class="form-group row", style="padding: 10px 20px 0px">
      <label> Permission Numbers:</label>
      <div class="popup"> <%= image_tag "help.png", class:"help", style: "margin: 0px 10px" %>
        <span class="popuptext" id="myPopup"> Download from DukeHub: <%= image_tag "exceltut.png", class:"exceltut" %> </span>
      </div>
      <div class="form-group custom-file" style= "margin: 0px 0px 10px 0px;">
        <%= f.label :file, "Upload Permission Numbers Excel File", class:"custom-file-label", for:"customFile" %>
        <%= f.file_field :file, class:"custom-file-input", id:"customFile", required: true%>
      </div>
    </div>

    <div class="form-group" style="padding: 10px 6px 0px">
      <label for="crosslisting">Is this course cross-listed?</label><br>
      <input type="radio" id="crosslisting" name="crosslisting" value="Yes"> Yes<br>
      <input type="radio" id="crosslisting" name="crosslisting" value = "No" checked> No<br>
    </div>

    <div class="form-group row" id="howmany" style="padding: 10px 20px 0px">
    </div>

    <div class="form-group" id="othercourses" style="margin-bottom: 0px">
    </div>

    <div class="form-group" style="padding: 10px 6px 0px">
      <label for="sections">Does this course have additional sections?</label><br>
      <input type="radio" id="sections" name="sections" value="Yes"> Yes<br>
      <input type="radio" id="sections" name="sections" value = "No" checked> No<br>
    </div>

    <div class="form-group row" id="howmanysec" style="padding: 10px 20px 0px">
    </div>

    <div class="form-group" id="othersections">
    </div>

    <div class="form-group row" style="padding: 10px 6px 0px">
      <div class="col-sm-10">
        <%= link_to "Cancel", faculty_page_url, class:"btn btn-outline-danger", style:"margin:10px 0px 10px" %>
        <%= f.submit "Create", class: "btn btn-dark" %>
      </div>
    </div>
  <% end %>
</div>
</div>
<p class="spacer"></p>
