<%# <h1> Course Details</h1> %>
<%# <p> <%= @course.department %> <%#<%= @course.course_number %> <%# - <%= @course.section_number %> <%# </p> %>
<%# <p> Capacity: <%= @course.capacity %> <%#</p> %>
<%# <%= button_to "Back", courses_path %>
