<!DOCTYPE html>
<html>
  <head>
    <title>CoursePermissionNumber</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <input id="user_activity" name="user_activity" type="hidden" value="active" />
    <input id="user_loged_in" name="user_loged_in" type="hidden" value="true" />

    <div id="inactivity_warning" class="modal hide fade" data-backdrop="static" style="top:30%">
      <div class="modal-header">
        <button type="button" class="close inactivity_ok" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row-fluid">
          <div id="custom_alert_message" class="span12">
          You will be logged out in 5 minutes due to inactivity. Please save your credit 
          application if you have not already done so.
        </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:void(0)" class="btn inactivity_ok" data-dismiss="modal" aria-hidden="true">O.K</a>
      </div>
      </div>
    </div>
    <%= render 'layouts/navigation' %>
    
    <%= yield %>
    
  </body>
  
</html>
