<!DOCTYPE html>
<html>
  <head>
    <title>CoursePermissionNumber</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <% if cookies[:moon] %>
      <%= stylesheet_link_tag 'style_dark', media: 'all' %>
      <%= stylesheet_link_tag 'facreqview_dark', media: 'all' %>
    <% else %>
      <%= stylesheet_link_tag 'style', media: 'all' %>
      <%= stylesheet_link_tag 'facreqview', media: 'all' %>
    <% end %>
    <%= javascript_pack_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= yield %>
  </body>
  
</html>
